{% extends "menu.html" %}

{% block main_content %}

{% if filter != "hide" %}
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Filter Options (Current filter: {{filter}})
<span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="about-us">
<li><a href={{url_for("main.list_appointments", filter="today")}}>Due today</a></li>
<li><a href={{url_for("main.list_appointments", filter="this_week")}}>Due this Week</a></li>
<li><a href={{url_for("main.list_appointments", filter="overdue")}}>Overdue</a></li>
<li><a href={{url_for("main.list_appointments", filter="completed")}}>Completed</a></li>
</ul>
</div>
{% endif %}


{% for appointment in appointments %}
<hr/>

Title: <a href={{url_for('main.single_appointment', id=appointment.task_id)}}>{{appointment.title}}</a><br/>
ID: {{appointment.task_id}}<br/>
Name: {{appointment.date_time}}<br/>
Duration: {{appointment.duration}}<br/>
Location: {{appointment.location}}<br/>
Customer Name: {{appointment.customer_name}}<br/>
Notes: {{appointment.notes}}<br/>
Status: {{appointment.status}}
<br/><a href={{url_for('main.edit_appointment', id=appointment.task_id)}}>(Edit this appointment)</a>
<br/><a href={{url_for('main.delete_appointment', id=appointment.task_id)}}>(Delete this appointment)</a>

<hr/>
{% endfor %}
{% endblock %}
